extends ../../layout

block content 
  h1=team.name

  div.actions
    a(href=`/manager/teams/${team.id}/tasks/create`) 新規タスク作成
    | &nbsp;
    a(href=`/manager/teams/${team.id}/members`) メンバー管理
    | &nbsp;
    a(href=`/manager/teams/${team.id}/edit`) 編集

  h2 タスク一覧

  table(border="1")
    tbody 
      tr 
        th タスクID
        th 状態
        th タイトル
        th 担当者
        th 作成日時
        th 操作

      each task in tasks
        tr
          td= task.id
          td= __(`models.Task.statuses.${task.status}`)
          td= task.title
          td= (task.assignee) ? task.assignee.displayName : 'なし'
          td= helpers.formatDateTime(task.createdAt)
          td
            a(href=`/tasks/${task.id}`) 詳細
            a(href=`/manager/teams/${team.id}/tasks/${task.id}/edit`) 編集
            