extends ../layout

block content 
  h1 Example:index

  a(href="/tasks/create") 新規作成

  h2 アサインされているタスク一覧

  table
    tbody 
      tr 
        th チーム
        th タスクID
        th タイトル
        th 作成日時

      each task in tasks
        tr
          td= task.team.name
          td= task.id
          td= task.title
          td= helpers.formatDateTime(task.createdAt)
          td
            a(href=`/tasks/${task.id}`) 詳細
