extends ../layout

include ../shared/common

block content 
  h1 
    - if(isManager)
      a(href=`/manager/teams/${team.id}`)= team.name
    - else
      span=team.name
    span &nbsp;/&nbsp;
    span=task.title

  - if(isManager)
    div.actions
      em マネージャ操作: 
      - if(task.isFinished())
        a(href=`/manager/teams/${team.id}/tasks/${task.id}/archived?_method=put&_csrf=${csrfToken}`) アーカイブする
      - else if(task.isArchived())
        | アーカイブ済み

  h2 内容
  div!= helpers.formatLines(task.body)

  +error_panel(err)

  h2 コメント

  ul.comments
    each comment in comments
      li(class= comment.isFinished() ? 'finished' : 'normal' )
        div!= helpers.formatLines(comment.message)
        div #{helpers.formatDateTime(comment.createdAt)} #{comment.creator.displayName} #{ __(`models.Comment.kinds.${comment.kind}`) }

  form.box(action=`/tasks/${task.id}/comments`, method="post")
    _csrf

    label(for="message") メッセージ<br>
    textarea#message(name="message", cols="50", rows="5") 

    .actions
      - if(task.isNotStarted())
        div
          label(for="finished") 完了報告
          input#finished(type="checkbox", name="finished")
      - else
        div 既に完了報告済みです

      input(type="submit", value="送信")
