extends ../layout

include ../shared/common

block content 
  h1 
    span=team.name
    span &nbsp;/&nbsp;
    span=task.title

  - if(isManager)
    div
      p マネージャ操作
      - if(task.isFinished())
        a(href=`/manager/teams/${team.id}/tasks/${task.id}/archived?_method=put&_csrf=${csrfToken}`) アーカイブする
      - else if(task.isArchived())
        | アーカイブ済み

  dl
    dt title
    dd= task.title
    dt body
    dd= task.body

  +error_panel(err)

  h2 コメント

  ul
    each comment in comments
      li
        div= comment.message
        div= comment.kind
        div= comment.creator.displayName
        div= helpers.formatDateTime(comment.createdAt)

  form(action=`/tasks/${task.id}/comments`, method="post")
    _csrf

    p メッセージ
    textarea(name="message", cols="30", rows="5") 

    - if(task.isNotStarted())
      p 完了報告
      input(type="checkbox", name="finished")
    - else
      p 既に完了報告済みです

    div
      input(type="submit", value="送信")
