extends ../layout

block content 
  h1 
    span=team.name
    span &nbsp;/&nbsp;
    span=task.title

  div
    p マネージャ専用
    a(href=`/tasks/${task.id}/edit`) 編集
    a(href=`/tasks/${task.id}?_method=delete`) 削除  

    -if(task.isFinished())
      a(href=`/tasks/${task.id}/archived?_method=put&_csrf=${csrfToken}`) アーカイブする
    -else if(task.isArchived())
      | アーカイブ済み

  dl
    dt title
    dd= task.title
    dt body
    dd= task.body

  h2 コメント

  ul
    //- creator.displayName とincludeさせるのが大変そうならまずはIDだけ
    each comment in comments
      li
        div= comment.message
        div= comment.kind
        div= comment.creator.displayName
        div= comment.createdAt

  form(action=`/tasks/${task.id}/comments`, method="post")
    _csrf

    p メッセージ
    textarea(name="message", cols="30", rows="5") 
    input(type="submit", value="送信")

  - if(task.isNotStarted())
    h3 完了報告
    form(action=`/tasks/${task.id}/finished`, method="post")
      _csrf

      p メッセージ
      textarea(name="message", cols="30", rows="5") 
      input(type="submit", value="完了")
  - else
    p 既に完了報告済みです
